/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body{
    height: 100%;
}
a {
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Libre Franklin', Arial,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====END CSS RESET====*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
    min-height: 100%;
}

b, strong {
    font-weight: bold;
}

header {
    display: block;
    outline: 1px solid black;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid blue;
    position: relative;
    padding: 10px;
}

header > .page-wrapper {
    position: relative;
}

h1 {
    font-weight: bold;
    font-size: 18px;
}

main{
    min-height: 100%; /*to keep footer at bottom*/
}

footer{
    background-color: lightslategrey;
    color: white;
    display: block;
    width: 100%;
    margin-top: -150px; /*keeping footer visible on page load*/
    min-height: 150px;
    padding: 20px;
    clear: both;
}

.page-wrapper{
    max-width: 980px;
    margin: 0 auto;
}

#header-nav{
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 420px){
    #header-nav{
        position: relative;
        margin-top: 10px;
    }
}