section.questions {
    display: inline-block;
    width: 49%;
    /*height: 400px;*/
    /*outline: 1px solid black;*/
    float:left;
    margin-right: 5px;
}

nav#answers-sort{
    text-align:right;
    margin-right: 10px;
}