@model IEnumerable<demofaq.Models.FAQS>

@{
    ViewBag.Title = "Index";
    ViewBag.customCss = "<link href='" + Url.Content("~/Content/homepage.css") + "' rel='stylesheet' type='text/css' />";
}
<div class="page-wrapper">
    <section class="questions" id="ask">
        @Html.Action("CreatePartial", "FAQS")
        <nav id="answers-sort">
            <ul>
                <li><a href="#answer" id="sort-latest" class="sort">Sort by Latest</a></li>
                <li><a href="#answer" id="sort-earliest" class="sort">Sort by Earliest</a></li>
            </ul>
        </nav>
    </section>
    <section class="questions" id="answer">
        @Html.Action("Answers", "FAQS");
    </section>
    <script type="text/javascript">
        loadQuestions();
        var tickTock = setInterval("loadQuestions()", 1000);
        console.log(tickTock);

        document.getElementById("sort-earliest").onclick = function () {
            clearInterval(tickTock);
            tickTock = setInterval("loadQuestionsEarliest()", 1000);
        }

        document.getElementById("sort-latest").onclick = function () {
            clearInterval(tickTock);
            tickTock = setInterval("loadQuestions()", 1000);
        }

        function loadQuestions() {
            $.ajax({
                url: "@Url.Action("Answers", "FAQS")",
                type: "GET",
                dataType: "html",
                success: function (result) {
                    $("#answer").html(result);
                }
            });
        }

        function loadQuestionsEarliest() {
            $.ajax({
                url: "@Url.Action("AnswersByFirst", "FAQS")",
                type: "GET",
                dataType: "html",
                success: function (result) {
                    $("#answer").html(result);
                }
            });
        }
    </script>
</div>