@model IEnumerable<demofaq.Models.FAQS>

@foreach (var item in Model)
{
    <div><b>@Html.DisplayNameFor(modelItem => modelItem.Question): </b></div>
            <div>@item.Question</div>
            <div><strong>@Html.DisplayNameFor(modelItem => modelItem.Answer): </strong></div>
            <div>@item.Answer</div>
            <hr />
}